.bg-nav {
    background-color: #172b4d;
}

.nav-link.active {
    border-left-color: white;
    border-left-width: 3px;
    border-left-style: solid;
    margin-right: 3px;
}

.navbar-brand {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}